{% extends "layout.html" %}
{% block title %}LogIn/SignUp{% endblock %}
{% block page %}Job Search{% endblock %}

{{ super() }}

{% block content %}


{% if user %}
<h1 class="title"> Welcome, {{ user.username }}!</h1>

<div class="row" style="margin-left: 100px;" >
    <div class="col s12 m7">
      <div class="card grey darken-4" style="padding-left: 40px;">
        <div class="card-content grey lighten-2">

            <div>
                <p><b>Username:</b> {{user.username}}</p>
                <p><b>Email:</b> {{user.email}}</p>
            </div>

           
            
        </div>
      </div>
    </div>
</div>
{% endif%}

{% endblock %}